
p.big {
    font-size: 23px;
}

p.italic {
    font-style: italic;
}

a:visited{
    color: blue;
    text-decoration: none;
    font-size: 25px;
}

a:hover{
    color: red;
    text-decoration: underline;
    font-size: 25px;
}

a:active  {
    color: green;
    text-decoration: underline;
    font-size: 25px;
}

table, th, td {
  border: 5px solid orange;
  border-collapse:collapse ;
}

td {
font-size: 20px;
}

th {
font-size: 25px;
}

h1{
font-size: 35px;
}